{% extends 'registration/base.html' %}
{% block title %}لیست مقالات{% endblock title %}
{% block subtitle %}لیست مقالات{% endblock subtitle %}
{% block main %}
<div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"> لیست مقالات</h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="جستجو">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            <tr>
                <th>عنوان مفاله</th>
                <th>نویسنده مقاله</th>
                <th>دسته بندی</th>
                
                <th>تاریخ انتشار</th>
                <th>وضعیت</th>
            </tr>
            {% for obj in object_list %}
                <tr>
                  {% if obj.status == "draft" or  user.is_superuser %}
                  <td>
                    <a href = "{% url 'account:post_update' obj.pk %}">
                      {{obj.title}}
                    </a>
                  </td>
                  {% else %}
                    <td> {{obj.title}} </td>
                  {% endif %}
                    
                    <td> {{obj.author.get_full_name}} </td>
                    <td> {{obj.get_category}} </td>
                    
                    <td> {% if obj.status == 'draft' %}
                        -
                        {% else %}
                        {{obj.jalali_publish}}
                        {% endif %}  </td>
                    <td>
                      {% if obj.status == 'draft' %}
                      <button type="button" class="btn bg-orange btn-xs margin">پیشنویس</button>
                      {% else %}
                      <button type="button" class="btn btn-primary btn-xs margin">منتشر شده</button>
                      {% endif %}
                      {% if obj.is_special %}
                      <button type="button" class="btn bg-yellow btn-xs margin">ویژه</button>
                      {% endif %}
                      {% if user.is_superuser %}
                      <a type="button" href = "{% url 'account:post_delete' obj.pk %}" class="btn btn-danger btn-xs margin">حذف</a>
                      {% endif %}
                    </td>

                </tr>
            {% endfor %}
          
        </tbody></table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
{% endblock main %}