{% extends 'blog\posts\list.html' %}
{% block title %}لیست پست ها{% endblock title %}

{% block previous_page_number %}
    href="{% url 'blog:post_list' posts.previous_page_number %}"
{% endblock previous_page_number %}    

{% block active_page_link %}
    href="{% url 'blog:post_list' i %}"
{% endblock active_page_link %}

{% block page_link %}  
  href="{% url 'blog:post_list' i %}"
{% endblock page_link %}

{% block next_page_number %}
    href="{% url 'blog:post_list' posts.next_page_number %}"
{% endblock next_page_number %}

